{% extends "base.jinja" %}
{% block content%}
<form class="inline-form" action="">
  <label for="name1">Name 1:</label>
  <input type="text" id="name1" name="names[]"><br>
  
  <label for="name2">Name 2:</label>
  <input type="text" id="name2" name="names[]"><br>
</form>
{% endblock %}