{% extends "base.jinja" %}
{% block content%}

<form action="/create_order" method="POST">
        {# <label for="order_id">Order ID:</label>
        <input type="text" id="order_id" name="order_id" required>
        <br><br>
        
        <label for="burritos">Select Burritos:</label>
        <select id="burritos" name="burritos[]" multiple required>
            <option value="burrito1">Burrito 1</option>
            <option value="burrito2">Burrito 2</option>
            <option value="burrito3">Burrito 3</option>
            <!-- Add more burrito options as needed -->
        </select>
        <br><br>

        <input type="submit" value="Add Burritos">
    </form> #}
    {% for order in orders %}
  <h5>Order Number: {{ order.id }}</h5>
  <ul>
    {% for burrito in order.burritos %}
      <li>{{ burrito.name }} - Price: ${{ burrito.price }}</li>
    {% endfor %}
  </ul>
{% endfor %}

{% endblock %}








{# <form class="inline-form" action="">
  <label for="name1">Name 1:</label>
  <input type="text" id="name1" name="names[]"><br>
  
  <label for="name2">Name 2:</label>
  <input type="text" id="name2" name="names[]"><br>
</form> #}