{% extends "base.jinja" %}

{% block content %}

<form class="form-inline" action="/orders" method="post">
    <label for="dropdown">Customer:</label> 
    <select id="dropdown" name="customers">
    {% for customer in customers %}
    <option value="{{customer.id}}">{{ customer.customer_name }}</option>
    {% endfor %}
    <input type="submit" value="Add order">



</form>



{% for order in orders %}
<a href="/orders/{{order.id}}">Order Number: {{order.id}}<br>
Name: {{order.customer.customer_name}}</a><br><br>
{% endfor %}
{% endblock %}