{% extends "base.jinja"%}

{% block content%}

    Order Number: {{ order.id }}<br>

    {% if order.burrito_orders %}
        
            {% for burrito_order in order.burrito_orders %}
                {{ burrito_order.burrito.name }}<br>
               £{{ burrito_order.burrito.price }}
                
            {% endfor %}
        
    {% else %}
      Empty
    {% endif %}

    


{% endblock%}




