{% extends "base.jinja" %}

{% block content %}

    <h3>{{ customer.customer_name }}<h3></h3>
<form action="/customers/update/{{customer.id}}" method="POST">


    <label for="name">Update Name</label>
    <input type="text" name="name" id="name" value={{customer.customer_name}}><br>
        
        
    <label for="number">Update Phone Number</label>
    <input type="text" name="number" id="number" value={{customer.customer_phone_number}}><br>
        
     
    <label for="address">Update Address</label>
    <input type="text" name="address" id="address" value={{customer.customer_street_name}}>
    
    <input type="submit" class="update" value="Update">
</form>
{% endblock%}